@import "bootstrap/less/bootstrap.less";

.search-form {
	input {
		border-radius: @border-round 0px 0px @border-round;
	}
	button {
		border-radius: 0px @border-round @border-round 0px;
	}
}

@border-round: 25px;

.foobar {
	border-radius: @border-round !important;
}
