<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="stylesheet" href="{baseURL}/static/css/main.css">

<!-- Custom styles for this template -->
<style>
body {
	padding-top: 50px;
}
.starter-template {
	padding: 40px 15px;
	text-align: center;
}
</style>
<title>{title}</title>
{extrahead|s}
</head>
<body>
<header class="navbar navbar-default navbar-inverse navbar-fixed-top" role="banner">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="{baseURL}">Rezeptecouch</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<nav class="collapse navbar-collapse navbar-main-collapse" role="navigation">
		<ul id="topnav" class="nav navbar-nav">
			<li id="listNavLink"><a href="{baseURL}/recipelist">List of recipes</a></li>
			<li id="editNavLink"><a href="{baseURL}/edit/">Rezept hinzufügen</a></li>
			<li id="aboutNavLink"><a href="#about">About</a></li>
		</ul>
		<form class="navbar-form navbar-left search-form" role="search" method="GET" action="{baseURL}/search">
			<div class="form-group">
				<input type="text" class="form-control" name="squery" placeholder="Search" />
			</div>
			<button type="submit" class="btn btn-default"><span class="icon" data-icon="&#128269;"></span></button>
		</form>
		<ul class="nav navbar-nav navbar-right">
			<li id="session-menu"></li>
		</ul>
	</nav><!-- /.navbar-collapse -->
</header>



<div class="container col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2" id="content">
	{content|s}
</div><!-- /container -->

<!-- Le javascript
	================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script type="application/javascript" src="{baseURL}/modules.js"></script>
<script type="application/javascript">
$ = require('jquery');
</script>
<script src="{baseURL}/bootstrap/js/bootstrap.min.js"></script>
<script src="{baseURL}/duality.js"></script>
{extrajs}
</body>
</html>
