<h2 class="recipeheading">{doc.name}</h2>
<i>by {doc.createdBy}</i><br>
{?userCtx.name}<span class="pull-right">
	<a class="btn btn-info"  
		{?editable}href="{baseURL}/edit/{doc._id}">Edit recipe</a>
	{:else}href="{baseURL}/fork/{doc._id}">Fork this recipe</a>{/editable}
</span>{/userCtx.name}
<div class="form-label"><label for="ingredients">Ingredients</label></div>
<div id="ingredients">{doc.ingredientsHTML|s}</div>

<div class="form-label"><label for="preparation">Preparation</label></div>
<div id="preparation">{doc.preparationHTML|s}</div>

<div class="form-label"><label for="tags">Tags</label></div>
<div id="tags">{#doc.tags}<a href="{baseURL}/tag/{.|uc}"> {.|h}</a> {/doc.tags}</div>
